<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIIII</title>

</head>
<body>

<div class="OuterDiv" >
    <div class="InnerDiv" >
        <h2>Add Membership Plan </h2>
        <a href="{% url 'add_membership_plan_page' %}">
            <button class="btn btn-primary" >Add</button>
        </a>
    </div>
    <div class="InnerDiv" >
        <h2>View Membership Plan </h2>
        <a href="{% url 'view_membership_plan_page' %}">
            <button class="btn btn-primary" >View</button>
        </a>
    </div>
</div>
</body>
<style>
    .OuterDiv{
    width:100%;
    height:790px;
    margin-top:50px;
    }
    .InnerDiv{
    font-family: Garamond, serif;
    width:1000px;
    height:85px;
    background-color:white;
    margin-left:100px;
    margin-top:50px;
    border-radius:85px;
    padding-top:12px;
    padding-left:100px;
    border:inset;
    background-color:#f3e1fc;
    }
    button{
    margin-left:700px;
    margin-top:-60px;
    }
</style>
</html>
{% endblock %}