<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View categories</title>
</head>
<body>
<div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View</h4>
                  <p class="card-description">
                    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>Plan Name</th>
                          <th>Plan_Price</th>
                          <th>Plan_Description</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{i.id}}</td>
                          <td>{{i.Plan_Name}}</td>
                          <td>{{i.Plan_Price}}</td>
                          <td>{{i.Plan_Description}}</td>
                          <td>
                            <a href="#">
                              <button class="btn btn-primary">Edit</button>
                            </a>
                          </td>
                          <td>
                            <a href="{% url 'delete_membership_plan' m_id=i.id %}">
                              <button class="btn btn-danger">Delete</button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
    swal('{{i}}', '','warning')
</script>
{% elif i.tags == 'error' %}
<script>
     swal('{{i}}', '','error')
</script>
{% elif i.tags == 'info' %}
<script>
     swal('{{i}}', '','info')
</script>
{% else %}
<script>
         swal('{{i}}', '','success')
</script>
{% endif %}
{% endfor %}
{% endif %}
</body>
</html>
{% endblock %}